{% extends "base.html" %}

{% block header %}
    <title>Messageboard - Create New Thread</title>
{% endblock %}

{% block content %}
    <a href="/">Back</a>
    
    <div class="thread">
        <div class="thread_title">
            {{ thread.title }}
        </div>
        <div class="thread_content">
            {{ thread.content|linebreaks }}
        </div>
    </div>

    {% for reply in replies %}
        <div class="reply">
            {{ reply.content|linebreaks }}
        </div>
    {% endfor %}

    <form action="." method="post"> {% csrf_token %}
        <div>Reply to Thread</div>

        {{ form.as_p }}

        <input type="submit" value="Reply">
    </form>

{% endblock %}
